[submodule "micro-libs"]
	path = micro-libs
	url = git@github.com:eagletrt/micro-libs.git
[submodule "invlib"]
	path = invlib
	url = https://github.com/eagletrt/invlib.git
[submodule "can"]
	path = can
	url = git@github.com:eagletrt/can.git
	branch = build-evo
